*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norse-Bold;
  src: url(fonts/Norse-Bold.otf);
}

body {
  font-family: Norse-Bold;
  display: flex;
  height: 100vh;
}

/* Design Sidebar */
.design-sidebar {
  background-image: url(images/palm-leaves-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
}

.logo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.365);
  width: 100%;
  margin-top: 150px;
  padding: 10px;

  img {
    height: 85px;
  }

  span {
    color: white;
    font-size: 4rem;
    padding-left: 2rem;
  }
}

/* Form Section */
.container {
  background-color: rgb(249, 245, 239);
  width: 80%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  padding: 1rem 5rem;
}

form {
  p {
    font-weight: 300;
    font-size: 14px;
  }
}

.form-container {
  padding: 1.5rem 5rem;
  padding-right: 16rem;
  margin-bottom: 2rem;
  width: 100%;
  background-color:  rgb(251, 248, 245);
  box-shadow: 5px 5px 9px rgb(210, 210, 210);;
}

input {
  width: 40ch;
  padding: 0.1rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

input:focus {
  outline: 1px solid rgb(64, 160, 224);
  box-shadow: 2px 4px 5px rgb(210, 210, 210);
}

label {
  font-weight: 200;
  font-size: 12px;
  color: #404839;
  margin-bottom: 3px;
}

fieldset {
  border: none;
}

form fieldset {
  margin-top: 2rem;
}

form fieldset {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

form fieldset div {
  display: flex;
  flex-direction: column;
}

button {
  margin: 1rem 5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #596D48;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #647e4c;
}

a {
  color: #596D48;
}

#password:invalid, #confirm_password:invalid {
  border: 1px solid red;
}